@{
    ViewBag.Title = "SAD-Sabino";
}

<div class="container">
    <div class="row backgroudHome">
        <div class="text-right">
            <img src="~/Content/img/sabino.png" />
        </div>
    </div>
</div>
