@{ List<ControleFinanc.Models.Grupo> grupos = ViewBag.Grupos;}

<div class="container">
    <div class="row">
        <div id="partialGrupo">
            <table class="table table-condensed table-hover">
                <tr>
                    <td><strong>ID</strong></td>
                    <td><strong>NOME</strong></td>
                    <td><strong>STATUS</strong></td>
                    <td><img src="~/Content/Img/edit_pie_chart_report_30px.png" sizes="30px" /></td>
                    <td><img src="~/Content/Img/delete_30px.png" sizes="30px" /></td>
                </tr>
                @foreach (var grupo in grupos)
                {
                    string st;
                    string cs;
                    if (grupo.Status == 0)
                    {
                        st = "INATIVO";
                        cs = "text-danger";
                    }
                    else
                    {
                        st = "ATIVO";
                        cs = "text-success";
                    }
                    <tr>
                        <td>@grupo.Id</td>
                        <td>@grupo.Nome</td>
                        <td class="@cs"><strong>@st</strong></td>
                        <td><a href="/Grupo/Editar/@grupo.Id"><strong>Editar</strong></a></td>
                        <td><a href="/Grupo/Excluir/@grupo.Id" class="text-danger"><strong>Excluir</strong></a></td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
